<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>GeoServer Mapbox Rest Client</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
	<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
	<script src="https://unpkg.com/turf@3.0.14/turf.js"></script>
	<style>
		#map {
			height: 60vh;
		}

		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="controls">
		<h6>Geoserver WFS query utility</h6>
		<table>
			<tr>
				<td>
					<small>Workspace <select v-model="workspace">
							<option v-for="ws in workspaces" v-bind:value="ws">{{ ws }}</option>
						</select><br>
						Layer <select v-model="layer">
							<option v-for="layer in layers" v-bind:value="layer[0]">{{ layer[1] }}</option>
						</select><br>
						<button v-on:click="updatemap">Load {{ layer }}</button>
					</small>
				</td>
				<td>
					<small v-if="!json['features']"><pre style="overflow: auto; height: 10em;">{{ xmlerror() }}</pre></small>
					<small v-if="json['features']">
						<ul style="list-style: none;">
							<li><a v-bind:href="url('json')" download>GeoJSON</a>, <a v-bind:href="url('csv')"
									download>CSV</a></li>
							<li><a v-bind:href="url('geopackage')" download>GeoPackage</a>, <a v-bind:href="url('KML')"
									download>KML</a></li>
							<li><a v-bind:href="url('SHAPE-ZIP')" download>Shapefile (zip)</a></li>
						</ul>
					</small>
				</td>
			</tr>
		</table>
		<small v-if="json['features']">Preview Features: {{ json['features'].length }} (max 1000), 1st Feature Properties:<br>{{ json['features'][0]["properties"]
			}}</small><small><br>
			<a href="https://docs.geoserver.org/latest/en/user/tutorials/cql/cql_tutorial.html" target="_blank">
				ECQL (Extended Common Query Language - tutorial)</a>
			<textarea v-model="cql"></textarea>
		</small>
	</div>
	<div id="map"></div>
	<script src="app.js"></script>
</body>

</html>