<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>GeoServer Mapbox Rest Client</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
	<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
	<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css" type="text/css">
	<script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
	<script src="https://unpkg.com/turf@3.0.14/turf.js"></script>
	<style>
		#map {
			height: 60vh;
		}

		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="controls">
		<div>
			<strong>Geoserver WFS query utility</strong> | <input list="layers" v-model="layer" type="text" placeholder="Find a layer..." /><br>
			<div style="max-height: 20em; overflow: auto;">
				<small v-for="lyr in layers"><button v-on:click="set(lyr)">{{ lyr[1] }} ({{lyr[0]}})</button><br></small>
			</div>
			<small v-if="json['features']"> Download:
				<a v-bind:href="url('json')" download>GeoJSON</a>,
				<a v-bind:href="url('csv')" download>CSV</a>,
				<a v-bind:href="url('geopackage')" download>GeoPackage</a>,
				<a v-bind:href="url('KML')" download>KML</a>,
				<a v-bind:href="url('SHAPE-ZIP')" download>Shapefile (zip)</a>
			</small><br>
			<button v-on:click="updatemap">Load</button> |
			<button v-on:click="reset">Clear</button> |
			<button v-on:click="setcqlbounds">Limit to map extent</button>
		</div>
		<div v-if="!json['features'] && xmlerror().length > 0">
			<small>
				<pre style="overflow: auto; max-height: 20em;">{{ xmlerror() }}</pre>
			</small>
		</div>
		<div v-if="json['features']">
			<small>Preview Features: {{ json['features'].length }} (max 1000), 1st Feature Properties:<br>
				{{ json['features'][0]["properties"] }}</small>
		</div>
		<div>
			<small><a href="https://docs.geoserver.org/latest/en/user/tutorials/cql/cql_tutorial.html" target="_blank">
					ECQL (Extended Common Query Language - tutorial)</a>
				<textarea v-model="cql"></textarea>
			</small>
		</div>
	</div>
	<div id="map"></div>
	<script src="app.js"></script>
</body>

</html>